body{
    margin:0px;
    background-color: #3e4eb8;
}
.container{
    background-color: #162a4d;
    margin: 0px 10% 0px 10%;
    width: 85%;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
}


.chart-container{
    width: 80%;
    margin: 0 auto;
}